* {
  width: 100%;
  box-sizing: border-box;
}

:root {
  --color-oscuro: #0e1116;
  --color-azul: #374a67;
  --color-gris: #616283;
  --color-cafe-oscuro: #9e7b9b;
  --color-cafe: #cb9cf2;
  max-width: 1920px;
  align-content: center;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  width: auto;
  height: auto;
  background-color: var(--color-cafe);
  font-family: "Quicksand", sans-serif;
}

/* nav */

.contenedor-header {
  align-content: center;
  width: 100%;
  height: 250px;
  border-radius: 0 0 30px 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.seccion-contenedor-header {
  width: 100%;
  height: 4rem;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
}

/* palette */

.boton-palette {
  width: auto;
  height: 3em;
  color: var(--color-cafe);
  font-size: 15px;
  bottom: 0.7rem;
  font-weight: bold;
  background-color: var(--color-azul);
  border: 2px solid var(--color-oscuro);
  border-radius: 10px;
  transition: 200ms ease-in;

  &:hover {
    color: var(--color-azul);
    background-color: var(--color-cafe-oscuro);

    & img {
      filter: invert(0%) sepia(11%) saturate(1966%) hue-rotate(177deg)
        brightness(96%) contrast(88%);
    }
  }

  & img {
    width: auto;
    height: 100%;
    filter: invert(100%) sepia(11%) saturate(1966%) hue-rotate(177deg)
      brightness(96%) contrast(88%);
  }
}

.titulo-seccion-palette {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.titulo-seccion-palette p {
  text-align: left;
  text-wrap: nowrap;
}

.seccion-contenedor-header a {
  text-decoration: none;
  font-size: 30px;
  color: var(--color-azul);
}

.introduccion {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video-intro {
  position: absolute;
  z-index: -10;
  width: 1920px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  filter: opacity(20%);
}

.titulo-introduccion {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  padding: 20px;
  color: var(--color-azul);
  z-index: 2;
}

.parrafo-intro {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  z-index: 2;
}

/* cards */

main {
  width: 100%;
  position: relative;
}

.img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(50em);
  z-index: -1;
  background-color: var(--color-cafe);

  & img {
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: opacity(70%);
  }
}

.contenedor-main {
  padding: 50px;
}

.contendor-productos {
  width: 100%;
  height: auto;
  gap: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.titulo-productos {
  text-align: start;
  margin-left: 50px;
  font-size: 40px;
  font-weight: bold;
  color: var(--color-cafe-oscuro);
  font-family: "Quicksand", sans-serif;
}

.seccion-tarjetas {
  width: 70%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 15px;
  flex-wrap: wrap;
  overflow: hidden;
}

/* contenedor-card original  */

/* .contenedor-card {
  width: 250px;
  height: auto;
  display: flex;
  scale: 90%;
  z-index: 10;
  border: 4px solid var(--color-cafe-oscuro);
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  align-items: center;
  align-content: center;
  text-align: center;
  text-wrap: wrap;
  overflow-wrap: break-word;
  transition: 500ms all;
  overflow: hidden;
} */

.contenedor-card {
  width: 250px;
  height: auto;
  display: flex;
  scale: 90%;
  z-index: 10;
  border: 4px solid var(--color-cafe-oscuro);
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  align-items: center;
  align-content: center;
  text-align: center;

  text-wrap: wrap;
  overflow-wrap: break-word;
  transition: 600ms all;
  overflow: hidden;
  background-color: #1b191921;
  backdrop-filter: blur(0.9em);

  & .imagen-producto {
    width: 190px;
    height: 70%;
    padding: 5px;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 1/1;

    &:hover {
      scale: 1.1;
      filter: grayscale(80%);
    }
  }
}

/* ir a db.sjon */
.contenedor-boton-db {
  display: flex;
  position: fixed;
  top: 1;
  left: 1;
  right: 0;
  bottom: 0;
  width: 110px;
  padding: 15px;
  height: auto;
  z-index: 101000;
 

  & .boton-dbjson {
    border-radius: 15px;
    padding: 5px;
    background-color: var(--color-azul);
    transition: 200ms ease-in-out;
  }
}

.boton-dbjson:hover {
  background-color: var(--color-cafe-oscuro);
}

.boton-dbjson img{
  filter: invert(1000%);
}

.boton-dbjson img:hover{
  filter: invert(0%);
}

.contenedor-card:hover::before {
  content: "";
  /* Necesario para el seudoelemento */
  position: absolute;
  z-index: -1;
  /* Posicionamiento absoluto para que ocupe todo el elemento padre */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    200deg,
    var(--color-cafe-oscuro) 10%,
    transparent 80%
  );
  animation: girar 5s linear infinite;
  border-radius: 40%;
  scale: 200%;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nombre-producto {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-oscuro);
}

.precio-seccion-eliminar {
  text-align: justify;
  display: flex;
  border-radius: 0 30px 0 0;
  background-color: var(--color-oscuro);
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 0;
  margin-top: 20px;
}

.precio-producto {
  font-size: 40px;
  padding: 15px;
  font-weight: bold;
  overflow: hidden;
  color: var(--color-cafe-oscuro);
}

.eliminar-producto {
  width: auto;
  height: auto;
  padding: 15px;
  background-color: transparent;
  border: none;
}

.icono-borrar {
  width: auto;
  height: 50px;
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  color: var(--color-cafe);
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(50%)
    contrast(103%);
}

.eliminar-producto:hover {
  border-radius: 20%;
  filter: invert(10%) sepia(31%) saturate(6035%) hue-rotate(365deg)
    brightness(93%) contrast(105%);
}

/* formulario */

.seccion-formulario {
  width: auto;
  height: 400px;
  padding: 15px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff3b;
  backdrop-filter: blur(0.9em);
}

.titulo-form {
  text-align: center;
  font-size: 30px;
  color: var(--color-cafe-oscuro);
  font-family: "Quicksand", sans-serif;
}

.input-nombre,
.input-precio,
.input-imagen,
.enviar-input {
  width: 0 auto;
  height: 50px;
  padding: 20px;
  background-color: var(--color-azul);
  color: var(--color-cafe-oscuro);
  font-size: 20px;
  text-wrap: wrap;
  border-radius: 15px;
  border: 2px solid var(--color-cafe-oscuro);
}

.input-nombre::placeholder,
.input-precio::placeholder,
.input-imagen::placeholder {
  color: var(--color-cafe);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: left;
  filter: invert(100%) sepia(11%) saturate(1966%) hue-rotate(177deg)
    brightness(96%) contrast(88%);
  font-size: 20px;
  padding-left: 30px;
}

.input-nombre::placeholder {
  background-image: url(./imagenes/iconos/nombre.png);
}

.input-precio::placeholder {
  background-image: url(./imagenes/iconos/etiqueta.png);
}

.input-imagen::placeholder {
  background-image: url(./imagenes/iconos/image-input.png);
}

.seccion-eliminar {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.seccion-eliminar input {
  font-size: 30px;
  padding: 0;
  color: var(--color-cafe-oscuro);
}

.seccion-eliminar input:hover {
  background-color: var(--color-cafe-oscuro);
  color: var(--color-azul);
  border: 2px solid var(--color-oscuro);
}

/* footer */

.seccion-footer {
  width: 100%;
  height: 90px;
  display: flex;
  padding: 60px;
  background-color: var(--color-cafe);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.titulo-footer {
  font-size: 30px;
  color: var(--color-cafe-oscuro);
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.parrafo-footer {
  font-size: 20px;
  color: var(--color-gris);
  padding: 5px;
}

.a-footer {
  color: var(--color-gris);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.githublogo-footer {
  width: auto;
  height: 40px;
  filter: hue-rotate(200deg);
}

@media (max-width: 940px) {

  :root{
    width: 100%;

  }
  body {
    overflow-x: hidden;
  }

  /* nav */
  .titulo-introduccion {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: "Minecraft", sans-serif;
    z-index: 2;
    padding: 5px;
  }

  .video-intro {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    filter: opacity(20%);
  }

  main {
    background: var(--color-azul);
  }

  .parrafo-intro {
    padding: 15px;
    text-wrap: balance;
  }

  .titulo-productos {
    text-align: center;
    margin: 0 auto;
  }

  .contendor-productos {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: var(--color-cafe);
    margin: 0;
    border-radius: 20px;
  }

  .img-bg img {
    display: none;
  }

  .seccion-tarjetas {
    flex-direction: row;
    width: auto;
  }

  .contenedor-card {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .contenedor-card:hover::before {
    scale: 300%;
  }

  .seccion-formulario {
    width: 100%;
  }

  .seccion-formulario,
  .seccion-eliminar {
    width: 100%;
  }

  .seccion-eliminar input {
    width: 100%;
  }

  .seccion-footer {
    height: auto;
    padding: 5px;
  }
}
